
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>

    <h1><em> Change Password </em></h1>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Change Password</button>
        </form>
        <a href="{% url 'dashboard' %}" class="link">Dashboard</a>
    </div>
</body>
</html>
