{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <h1><em>Login Page </em></h1>
    <div class="cont">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Login</button>
        </form>
        <div style="display: flex;  align-items: center; justify-content: space-around; margin-top: 20px">
            <a href="{% url 'signup' %}" class="link">Sign Up</a>
            <a href="{% url 'password_reset' %}" class="link">Forgot Password</a>
        </div>
    </div>
</body>
</html> 