{% comment %} <h1>Profile</h1>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Date Joined: {{ user.date_joined }}</p>
<p>Last Updated: {{ user.last_login }}</p>
<a href="{% url 'dashboard' %}">Dashboard</a>
<a href="{% url 'logout' %}">Logout</a> {% endcomment %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>

    <h1><em>Profile </em></h1>
    <div class="container">
        <h1>Profile</h1>
        <p><b> Username: </b> {{ user.username }}</p>
        <p> <b> Email: </b> {{ user.email }}</p>
        <p> <b> Date Joined: </b> {{ user.date_joined }}</p>
        <p> <b> Last Updated: </b> {{ user.last_login }}</p>
        <div style="display: flex;  align-items: center; justify-content: space-around; margin-top: 20px">
            <a href="{% url 'dashboard' %}" class="link">Dashboard</a>
            <a href="{% url 'logout' %}" class="link">Logout</a>
        </div>
    </div>
</body>
</html>
